.info__section{
  width: 100%;
  height: auto;
}

.info__wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--wrapper-padding);
  border-top: 1px solid rgba(0,0,0,0.2);
}

.info__left{
  width: 40%;
  height: auto;
}

.info__right{
  width: 60%;
  height: auto;

}

.main__info{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  span{

  }
}