.form__section{
  width: 100%;
  height: auto;
}

.form__wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--wrapper-padding);
  border-top: 1px solid rgba(0,0,0,0.2);
}

.form__left{
  w
}