.footer__section{
  width: 100%;
  background-color: var(--orange);
  position: relative;
  height: auto;
  padding: 8rem 0 2rem !important;
}

.footer__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ft__left{

}

.ft__right{
  width: 60%;
  position: relative;

  .wordmark{
    width: 100%;
    aspect-ratio: ;
  }
}


