.footer__section{
  width: 100%;
  background-color: var(--orange);
  position: relative;
  height: auto;
  padding: 8rem 0 2rem !important;
  color: white;
}

.footer__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.ft__left{
  display: flex;
  flex-direction: column;
  gap: 0rem
}

.ready{
  font-size: var(--h2-font-size);
}

.ft__right{
  width: 60%;
  position: relative;

  .wordmark{
    width: 100%;
    aspect-ratio: 600/110.0291;
    position: relative;

    img{
      object-fit: cover;
    }
  }
}

.footer__bottom{
  width: 100%;
  height: auto;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  align-items: flex-start;
}

.fb__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fbt__left{
  position: relative;
  width: max-content;
  height: auto;

  .brandmark{
    width: 200px;
    aspect-ratio: 350/394.6375;
    position: relative;
  }
}

.fbt__right{
  width: 60%;
  height: auto;
}