.preloader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.preloader__left{
  width: 50%;
  height: 100vh;
  background-color: black;
}

.preloader__right{
  width: 50%;
  height: 100vh;
  background-color: black;
}

.slogan__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  .s__wrap1 {
    font-size: calc(var(--h2-font-size) - 0.5rem);
    color: rgb(87, 87, 87);
  }

  .s__wrap2 {
    font-size: calc(var(--h2-font-size) - 0.5rem);
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    color: white;
  }
}