.sidebar {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.sidebar__wrapper {
  width: 100vw;
  height: 100dvh;
  min-height: 100dvh;
  background-color: var(--orange);
  color: var(--body-color);
}

.sidebar__container {
  height: 100%;
  padding: 1.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: calc(var(--wrapper-gap) - 2rem)
}

.sidebar__header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sideh__left{
  position: relative;
  display: block;
  width: 200px;
  aspect-ratio: 600/110.0291;
  overflow: hidden;

  .si__wrapper{
    display: block;
    width: 100%;
    height: ;
    img {
      object-fit: cover;
    }
  }

}