.aboutbm__section{
  width: 100%;
  height: auto;
  padding: 7rem 0 6rem !important;
}

.aboutbm__wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--wrapper-padding);
  border-top: 1px solid rgba(0,0,0,0.2);
}

.aboutbm__left{
  width: 40%;
  height: auto;
}

.aboutbm__right{
  width: 60%;
  height: auto;

}