/*=============== VARIABLES SCSS ===============*/
:root {
  --orange: #E84421;
  --text-color: black;
  --text-color-light: #7F7F7F;
  --body-color: #ffffff;


  //wrapper Padding
  --wrapper-padding: 2.5rem;

  //wrapper gap(vertical spacing)
  --wrapper-gap: 6rem;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  // --body-font: 'Montserrat', sans-serif;

  --biggest-font-size: 8rem;
  --h1-font-size: 4.1rem;
  --h2-font-size: 2.9rem;
  --normal-font-size: 1.2rem;
  --small-font-size: .95rem;
  --smaller-font-size: .85rem;
}

/* Responsive typography */
@media screen and (max-width: 1088px) {
  :root {
    --biggest-font-size: 7.2rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.2rem;
    --normal-font-size: 1rem;
    --small-font-size: .90rem;
    --smaller-font-size: .80rem;
  }
}

@media screen and (max-width: 628px) {
  :root {
    --biggest-font-size: 6.2rem;
    --h1-font-size: 2.7rem;
    --h2-font-size: 2.13rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }

}

html {
  scroll-behavior: auto;
  height: auto;
}

body,
button,
input,
textarea,
select {
  font-family: var(--regular-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1475px;
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

.section{
  padding: 3rem 0 7rem;
}



@media screen and (max-width: 520px) {
  .section{
    padding: 1.5rem 0 5rem;
  }
}



@media screen and (max-width: 1475px) {
  .container {
    max-width: 100%;
    margin: 0 3rem;
  }
}


@media screen and (max-width: 1088px) {
  .container {
    max-width: 100%;
    margin: 0 2rem;
  }
}


@media screen and (max-width: 628px) {
  .container {
    max-width: 100%;
    margin: 0 1rem;
  }
}


//Lenis Scroll
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}