.project__section{
  width: 100%;
  height: auto;
}

.project__container{
  height: auto;
}

.project__wrapper{
  width: 100%;
  height: auto;
  padding-top: var(--wrapper-padding);
  border-top: 1px solid var(--text-color-light);
  display: flex;
  flex-direction: column;
  gap: var(--wrapper-gap);
}

.project__wrappertop{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pwt__left{
  width: 40%;
  height: auto;
}

.pwt__right{
  width: 60%;
  height: auto;
}

.project__button{
  position: relative;
  margin-top: -1rem;
}