.video__section{
  width: 100%;
  height: auto;
  position: relative;
}

.videoContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: black;
  clip-path: polygon(30% 0, 70% 0, 70% 30%, 30% 30%);
}

.fallback {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  img{
    object-fit: cover;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.show {
    opacity: 1;
  }
}


.playPauseFill{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
}

.control__buttons{
  position: absolute;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  padding: 0.2rem;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: rgba(0,0,0,0.7);
  bac
  height: 40px;
  width: auto;
  border-radius: calc(30px + 0.2rem);
}

.pause__play, .vol__mute{
  width: 50px;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;

  svg{
    height: calc(100% - 0.65rem);
    width: auto;
  }
}





//Responsive Design

@media screen and (max-width: 1024px) {
  .videoContainer {
    aspect-ratio: 16/10;
  }
}

@media screen and (max-width: 820px) {
  .videoContainer {
    aspect-ratio: 16/11;
  }
}

@media screen and (max-width: 540px) {
  .video__container{
    max-width: 100vw !important;
    margin: 0 0.5rem !important;
  }
}