.__section {
  width: 100%;
  height: auto;
}

.__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--wrapper-padding);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.__left {
  width: 40%;
  height: auto;
}

.__right {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--wrapper-gap);
}

.__bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--wrapper-gap) - 2rem);
}

.brief__text {
  width: 80%;
  color: var(--text-color-light);
  line-height: 1.3;
}