.text__section{
  width: 100%;
  height: auto;
}

.text__container{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.text__wrapper{
  width: 100%;
  display: flex;
  row-gap: 0rem;
  column-gap: 0.6rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wword__wrapper{
  overflow: hidden;
  margin-bottom: -0.75rem;
}


.ww__span{
  font-size: var(--h1-font-size);
  position: relative;
  display: block;
  t
  transition: top 0.7s ease;
}