.cursor{
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
  background-color: rgba(0,0,0,0.6);
  back
  border-radius: 50%;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}