.hero__maintext {
  width: 100%;
  display: flex;
  row-gap: 0rem;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

.word__wrapper {
  width: max-content;
  overflow: hidden;
  margin-bottom: -0.4rem;

  .span {
    position: relative;
    font-size: var(--h2-font-size);
    display: block;
    transform: translateY(100%);
    transition: transform 0.7s ease;
  }

  .activespan{
    position: relative;
    font-size: var(--h2-font-size);
    display: block;
    transform: translateY(100%);
    transition: transform 1s ease;

    .activer{
      
    }
  }
}

//Responsive design
@media screen and (max-width: 1088px) {
  .word__wrapper {
    margin-bottom: -0.3rem;
  }
}

@media screen and (max-width: 840px) {
  .word__wrapper {
    margin-bottom: -0.2rem;

    .span, .activespan {
      font-size: calc(var(--h2-font-size) + 0.5rem);
    }
  }
}

@media screen and (max-width: 628px) {
  .word__wrapper {
    .span, .activespan {
      font-size: calc(var(--h2-font-size) + 0.25rem);
    }
  }
}

@media screen and (max-width: 540px) {
  .word__wrapper {
    margin-bottom: -0.2rem;

    .span, .activespan {
      font-size: calc(var(--h2-font-size));
    }
  }
}

@media screen and (max-width: 495px) {
  .word__wrapper {
    margin-bottom: -0.1rem;

    .span, .activespan {
      font-size: calc(var(--h2-font-size) - 0.2rem);
    }
  }
}

@media screen and (max-width: 430px) {
  .word__wrapper {
    margin-bottom: 0rem;
    
    .span, .activespan {
      font-size: calc(var(--h2-font-size) - 0.4rem);
    }
  }
}



