.approach__section{
  width: 100%;
  height: auto;
}

.approach__container{
  height: auto;
}

.approach__wrapper{
  width: 100%;
  height: auto;
  padding-top: rem;
  border-top: 1px solid var(--text-color-light);
}