.paddingtop{
  padding-top: 7rem;
}

//Responsive Design

@media screen and (max-width: 1024px) {
  .paddingtop{
    padding-top: 6rem;
  }
}

@media screen and (max-width: 520px) {
  .paddingtop{
    padding-top: 6rem;
  }
}